body{

	background-size:cover;
	font-family:"Segoe UI",Arial,sans-serif;
}
table {  
margin-top:40px;
margin-left:400px;
  border: 1px solid #ddd;
  text-align: left;
  background-color: #000000;
}
 td, th {  
 font-weight:normal;
 color:white;
  border: 0px solid #ddd;
  text-align: center;
}
th{
	font-size:30px;
}

table {
  border-collapse: collapse;
  width: 30%;
}

th, td {
  padding: 15px;
}

input[type=submit]{
	margin-top:10px;
	margin-right:10px;
	padding: 5px 25px;
	background-color: white;
}