body{
	background-image:url("../images/backgound1.jpg");
	background-size: cover;
	font-family:"Segoe UI",Arial,sans-serif;
}

h2{
	margin-left:450px;
	font-weight:normal;
}

table {  
margin-top:10px;
margin-left:400px;
  border: 1px solid #ddd;
  text-align: left;
  background-color: #000000;
}
 td {  
 font-weight:normal;
 color:white;
  border: 0px solid #ddd;
  text-align: center;
}
th{
	font-size:30px;
	font-weight:normal;
 color:white;
  border: 0px solid #ddd;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 30%;
}

th, td {
  padding: 15px;
}


input[type=submit]{
	  width: 20%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 20px;


}

input[type=name] [type=password]{
	  box-sizing: border-box;
  border: 3px solid #ccc;
}
a:link, a:visited {
 
  color: white;

  text-align: center;
  text-decoration: none;
  display: inline-block;
}

